body {
  color: #333;
  background: #000;
}

li {
  list-style-type: none;
}

a:visited, a:hover, a:active {
  color: #EEE !important;
}

.fa-times {
  font-size: 30px;
  color: #fff;
  float: right;
}
.btn-lg {
  background: firebrick;
  color: #EEE;
  display: block;
  position: absolute;
  right: 0px;
  width: 200px;
  font-size: 30px;
  font-weight: 100;
}

/** prototype styles **/

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  
  height: 5000px; /* Temp: Simulates a tall page. */
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
  transition: 300ms ease all;
  backface-visibility: hidden; 
  padding: 5% 0; /* Temp: Just spacing. */
}
.show-nav #site-canvas {
  transform: translateX(-300px);
  transform: translate3d(-300px, 0, 0);
}
#site-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -300px;
  background: #222;
  color: #EEE;
  padding: 15px;
}