/* styling on landing verification page */

img {
  max-width: 100%;
}
@media screen and (max-width: 500px) { 
  div{width:80%;} 
}
@media screen and (max-device-width: 800px) {
  body { 
    background: url('../images/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
  }
  #background-video {
    display: none;
  }
  #pause {
    visibility: hidden;
  }
}
#site-wrapper, .beer101-container {
  margin: 0;
  background: url('../images/backdrop.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  color: #333; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -5;
    transform: translateX(-50%) translateY(-50%);
    background: url('../images/background.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
.fade { 
   opacity: .5;
}

#pause { 
  margin-top: 5px;
  background: rgba(0,0,0,0.3);
  color: #FFF;
  padding: 7px;
  width: 20%;
  font-size: 20px;
}
#welcome {
  margin-top: 1vh;
  text-align: center;
  color: #000;
}
input[type="number"] {
  width: 3.5em;
  height: 1.2em;
  font-size: 2em;
  border: 0.05em solid black;
  text-align: center;
}
#welcome h1 {
  color: #000;
  font-size: 2.75em;
  margin: auto;
  letter-spacing: 0.15em;
}
#pause button { 
  
  display: block;
  width: 80%;
  padding: 0.15em;
  border: 0.05em solid #FFF; 
  margin: 0.5em auto; 
  font-size: 1em;
  background-color: #BFA674;
  color: #fff;
  border-radius: 0.3em; 
  cursor: pointer;
  transition: .3s background;
  outline: 0;
}
#pause button:hover { 
   background: rgba(0,0,0,0.5);
   outline: 0;
}

.well {
    opacity: 0.8;
    background-color: #BFA674;
    border-radius: 30px;
}

#logo {
  margin-top: 5vh;
}
#form-submit{
  position: relative;
  margin: auto;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 20px;
  background: #FEF8A5;
  width: 100px;

}
#form-submit:hover {
  color: #FFF;
  background: transparent;
}

.hover-cursor:hover {
  cursor: pointer;
}

/* styles for main view and offcanvas nav below */

li {
  list-style-type: none;
}

a:visited, a:hover, a:active {
  color: #EEE !important;
}

.fa-times {
  font-size: 40px;
  color: #fff;
  float: right;
}
.btn-lg {
  background: url('../images/metal-texture.png');
  color: #EEE;
  display: block;
  position: absolute;
  right: 0px;
  width: 200px;
  font-size: 30px;
  font-weight: 100;
}

/** prototype styles **/

#site-wrapper {
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  min-height: 100vh;
}
#site-canvas {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
  transition: 300ms ease all;
  backface-visibility: hidden; 
  padding: 5% 0; /* Temp: Just spacing. */
}
.show-nav #site-canvas {
  transform: translateX(-300px);
  transform: translate3d(-300px, 0, 0);
}
#site-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -300px;
  background: #222;
  color: #EEE;
  padding: 15px;
}

.coozy{
  color: white;
  position: absolute;
  top: 100px;
  left: 300px;
  display: inline-block;
  min-width: 70%;
}
#return.btn-lg {
  position: relative;
}
.faves .well {
  background: #FFF;
  opacity: 0.25;
  border-radius: 4px;
}
.modal-header {
  margin: 0 auto;
  text-align: center;
  display: inline;
}
.modal-header button {
  float: right;
  margin: 0 20px 0 0;
}
.modal-label {
  padding: 0px;
  margin: 0 auto;
  text-align: center;
}
.modal-footer {
  margin: auto;
  text-align: center;
}
.modal-footer button {
  color: #000;
  width: 200px;
  letter-spacing: 3px;
}
.modal-img {
  max-width: 200px;
}

.white-text {
  color: white;
}
.link-color {
  color: #fafafa;
}
.modal-beer-name {
  text-align: center;
}