<div ng-controller="breweryController">
  
	
  <!-- site-wrapper for the page view -->
  <div id="site-wrapper" off-canvas-menu ng-class="{ 'show-nav' : isMenuOpen }">
  		<!-- site-canvas for the runway -->
        <div id="site-canvas">
        		<!-- The menu lives here -->
          <div id="site-menu">
            <a href="" class="toggle-nav" ng-click="toggleMenu()">
              <i class="fa fa-times"></i>
            </a>
            <h2>ATL Breweries</h2>
              	<!-- Populates the brewery links -->
              <ul>
                <li ng-repeat="brewery in breweries" class="breweryName" ng-click="chooseBrewery($index)">
                  {{brewery.name}}
                </li>
              </ul> 
  		     <!-- kill the menu -->
				<hr>
					<h3><a ng-href="#/beer101">General Beer Info</a></h3>
				<hr>

          </div>
          	<!-- Creates the little button with the approprate moniker: menu. -->
          <div class="navbar-header" ng-show="isMenuOpen == false">
            <a id="menu-btn" class="toggle-nav btn btn-lg" ng-href="" ng-click="toggleMenu()"><i class="fa fa-bars"></i>Menu</a> 
          </div>  
          <!--ngRepeat to populate list of beers. On click opens modal with specific beer info-->
          <div class="coozy">
            <h2>{{chosenBrewery}}</h2>
  			     <ul>
  			      <li ng-repeat="beer in beers" class="breweryName" ng-click="openModal($index)">{{beer.name}}</li>
  			     </ul>

            <hr />
            
            <div class="faves">
              <h2>Favorite Beers</h2>
              <ul>
                <li ng-repeat="fave in faves track by $index">{{fave.name}}</li>
              </ul>
            </div>
  			   </div>


        </div> <!-- kill #site-canvas --> 
  </div> <!-- kill #site-wrapper> -->

</div>

