<div ng-controller="breweryController">
  
	
  <!-- site-wrapper for the page view -->
  <div id="site-wrapper" off-canvas-menu ng-class="{ 'show-nav' : isMenuOpen }">
  		<!-- site-canvas for the runway -->
        <div id="site-canvas">
        		<!-- The menu lives here -->
          <div id="site-menu">
            <a href="" class="toggle-nav" ng-click="toggleMenu()">
              <i class="fa fa-times"></i>
            </a>
            <h2>ATL Breweries</h2>
              	<!-- Populates the brewery links -->
              <ul>
                <li ng-repeat="brewery in breweries" class="breweryName" ng-click="chooseBrewery($index)">
                  {{brewery.name}}
                </li>
              </ul> 
  		     <!-- kill the menu -->
				<hr>
					<h3>General Beer Info</h3>
				<hr>

          </div>
          		<!-- Creates the little button with the approprate moniker: menu. -->
          <div class="navbar-header">
            <a href="" class="toggle-nav btn btn-lg" ng-click="toggleMenu()"><i class="fa fa-bars"></i> Menu</a> 
          </div>   
          		<!-- Dummy page content that makes as much sense as Lorem Ipsum -->
          <h1 class="text-center">Brew the Brewery Brew Bag</h1>

          <div class="coozy">
  			   <ul>
  			      <li ng-repeat="beer in beers" class="breweryName" ng-click="openModal($index)">{{beer.name}}</li>
  			     </ul> 
  			   </div>

        </div> <!-- kill #site-canvas --> 
  </div> <!-- kill #site-wrapper> -->

</div>

 <!-- <div ng-controller="menuController" class="container">

  <div class="container">
    <form ng-submit="breweriesByCity(cityName)">
      <input type="text" ng-model="cityName" placeholder="Search a city" />
      <input type="submit" value="Search" class="btn btn-primary" />
    </form>
  </div>

  <ul ng-repeat="brewery in breweries">
    <li><a ng-href="#/brew/{{$index}}" class="breweryName">{{brewery.name}}</a></li>
  </ul>

</div> -->