<div class="modal-header">
	<h2>{{options.brewery}}</h2>
	<h3>{{options.name}}</h3>
	<h4>{{options.abv}}</h4>
</div>
<div class="modal-label">
	<!-- <img ng-src="{{modalOptions.labelImg}}"> -->
</div>
<div class="modal-body">
	<!-- <p>{{modalOptions.descriptionText}}</p> -->
</div>
<div class="modal-footer">
  <!-- <button type="button" class="btn" 
          data-ng-click="modalOptions.dislike()">{{modalOptions.jeersButtonText}}</button>
  <button class="btn btn-primary" 
          data-ng-click="modalOptions.like()">{{modalOptions.cheersButtonText}}</button> -->
	<button class="btn btn-info" ng-click="close()">Close</button>
</div>