<div class="modal-header">
	<h2>{{options.brewery}}</h2>
</div>
<div class="modal-label">
	<img class="modal-img" ng-src="{{options.label}}">
</div>
<div class="modal-body">
	<h3>{{options.name}}</h3>
	<h5>Style: {{options.style}}</h5>
	<h5>ABV: {{options.abv}}</h5>
	<p>{{options.description}}</p>
</div>
<div class="modal-footer">
  	<button type="button" class="btn btn-success" 
          ng-click="addBeer()">Cheers</button>
	
	<button class="btn btn-warning" 
          ng-click="removeBeer()">Jeers</button>
	
	<button class="btn btn-info" ng-click="close()">Close</button>
</div>