<div ng-controller="breweryController" class="container">
	














	<!-- =================================================
	Beer Information Modal using Angular UI Bootstrap
	================================================= -->
	<div class="modal-header">
		<h2>{{modalOptions.nameText}}</h2>
		<h3>{{modalOptions.styleText}}</h3>
		<h4>{{modalOptions.abvText}}</h4>
	</div>
	<div class="modal-label">
		<img src="{{modalOptions.labelImg}}">
	</div>
	<div class="modal-body">
		<p>{{modalOptions.descriptionText}}</p>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn" 
	          data-ng-click="modalOptions.dislike()">{{modalOptions.jeersButtonText}}</button>
	  <button class="btn btn-primary" 
	          data-ng-click="modalOptions.like();">{{modalOptions.cheersButtonText}}</button>
	</div>
</div>