<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-lg-8">
			<h1 class="white-text">Beer 101</h1>
			<h3 class="white-text">Table of Contents</h3>
			<ol>
				<li><a class="link-color" href="/#/beer101#definitions"><h4>1. Definitions</h4></a></li>
				<li><a class="link-color" href="/#/beer101#styles"><h4>2. Beer Styles</h4></a></li>
			</ol>
			<a id="return" class="btn btn-lg" ng-href="#/brew">Return</a>
			<hr />

			<section id="definitions">
				<h2 class="white-text">Definitions</h2>

				<p class="white-text" ng-repeat="define in definitions">
					<b>Term:</b> {{define.term}} <br/>
					<b>Definition:</b> {{define.defined}} <br/>
				    <b>Example:</b> {{define.example}} <br/>
				</p>
			</section>

			<section id="styles">
				<h2 class="white-text">Beer Styles</h2>

				<h3 class="white-text">Ales</h3>

				<p class="white-text" ng-repeat="ale in ales">
					<b>Style:</b> {{ale.style}} <br/>
					<b>Description:</b> {{ale.description}} <br/>
				    <b>Example:</b> {{ale.example}} <br/>
				</p>

				<h3 class="white-text">Lagers</h3>

				<p class="white-text" ng-repeat="lager in lagers">
					<b>Style:</b> {{lager.style}} <br/>
					<b>Description:</b> {{lager.description}} <br/>
				    <b>Example:</b> {{lager.example}} <br/>
				</p>
			</section>
		</div>
	</div>
</div>